body {
	margin: 0;
	position: relative;
	font-size: 15px;
	background-color: #ddd;
}

html,
body {
	height: 100%;
	text-align: center;
}

body.page-vcard:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
}

.vcard {
	display: inline-block;
	vertical-align: middle;
	width: 500px;
	height: 250px;
	background-color: #eee;
	padding: 1em;
	box-sizing: border-box;
	position: relative;
	box-shadow: 0px 5px 8px #888888;
}
	.vcard-nav {
		width: 200px;
		height: 200px;
		position: absolute;
		right: 10px;
		top: -75px;
		border: 5px solid #fff;
		border-radius: 50%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		box-shadow: 0px 5px 8px #888888;
		background-color: #eee;
	}

	@keyframes rotation {
		from { transform: rotate(0deg); }
		to { transform: rotate(180deg); }
	}

	.vcard-nav:hover {
		animation-name: rotation;
		animation-duration: 5s;
	}

		.vcard-nav figure {
			width: 150px;
			height: 150px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0;
		}

			.vcard-nav figure img {
				width: 100%;
				position: relative;
				top: -18px;
			}

		.nav-item {
			position: absolute;
			background: white;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

			.contact {
				top: -20px;
			}

			.about {
				bottom: -20px;
			}

	.vcard-content {
		display: flex;
		height: 100%;
	}

		.vcard-info {
			width: 70%;
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-right: 1em;
			border-right: 1px solid #ddd;
		}

			.vcard .title {
				color: #555;
				text-transform: capitalize;
				font-size: 1.8em;
				margin: 0 0 5px 0;
			}

			.vcard .quote {
				line-height: 30px;
			}
			.vcard .quote:before {
				content: '';
				width: 5px;
				margin-right: 10px;
				background-color: yellow;
				height: 100%;
				display: inline-block;
				vertical-align: middle;

			}

		.vcard-social {
			width: 30%;
			border-left: 1px solid #fff;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding-left: 1em;
		}

		 	.social-icons {
				display: -webkit-flex;
				display: flex;
				flex-wrap: wrap;
		 	}

		 	.social-icons .fa {
		 		width: calc(100% / 3);
		 		padding: 0.3em;
		 		box-sizing: border-box;
		 		font-size: 1.3em;
		 	}

@media (max-width: 500px) {

	body:before {
		display: none;
	}

	.vcard {
		width: 100%;
		height: auto;
		margin-top: 150px;
	}

		.vcard-nav {
			top: -130px;
			right: 50%;
			transform: translateX(50%);
		}

		.vcard-content {
			flex-direction: column;
			margin-top: 80px;
		}

			.vcard-info,
			.v-card-social {
				width: 100%;
			}
}

body.page-404 {
	background: url(http://i.imgur.com/4CBuRdq.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/* why can't insert cover in the background statement ? */
}

	.title {
		color: #FFEB3B;
		color: #00BCD4;
		margin: 0;
		padding-top: 50px;
		text-transform: full-width;
		padding-top: 16vh;
	}

		.title span {
			display: block;
			font-size: 1.5em;
			font-weight: bold;
		}

	.container {
		width: 100%;
		height: 62%;
		position: fixed;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.ad {
		
	}

		.ad .sign-wrap {
			width: 150px;
			height: auto;
			margin: 0 auto;
			transform: translateX(150px);
			position: relative;
		}

			.ad img {
				width: 100%;
			}

			.ad .sign-wrap p {
				position: absolute;
				top: 7px;
				left: 14px;
				color: #fff;
			}

			

	.back {
		
	}

		.back .sign-wrap {
			height: 250px;
			width: 250px;
			margin-left: 3em;
			position: relative;
		}

			.back img {
				width: 100%;
			}

			.back .sign-wrap p {
				position: absolute;
				top: 12px;
				left: 50%;
				transform: translateX(-65%);
				color: #fff;
			}





		.bg-img {
			height: 250px;
			width: 250px;
			/*background: url(https://www.shareicon.net/data/2016/09/15/829304_sign_512x512.png) no-repeat top left fixed;*/
			/* Can't undertand why fixed blom everything */
			background: url(https://www.shareicon.net/data/2016/09/15/829304_sign_512x512.png) no-repeat top left; 
			background-size: contain;
		}

			.bg-img > p {
				position: relative;
				top: 26px;
			}

		/*.back img {
			max-width: 250px;
		}*/


	